# Tuples and Lists

In [1]:
tuple1 = ('Name','10','1.2')

In [2]:
tuple1[0]

'Name'

In [5]:
len(tuple1)

3

In [19]:
list1 = [1,2.5,'list']

In [20]:
list1

[1, 2.5, 'list']

In [21]:
list1[2]

'list'

In [22]:
print(list1[2])

list

In [23]:
list2 = list1 + ['add to the list']

In [27]:
list2

[1, 2.5, 'list', 'add to the list', 1, 'extended']

In [30]:
list2.extend([1,'extended'])

In [31]:
print(list2)

[1, 2.5, 'list', 'add to the list', 1, 'extended', 1, 'extended', 1, 'extended']

In [32]:
list3 = list2.extend([1,'extended'])

In [36]:
list3 =list2

In [37]:
del(list2[-1])

In [38]:
list2

[1,
 2.5,
 'list',
 'add to the list',
 1,
 'extended',
 1,
 'extended',
 1,
 'extended']

In [40]:
list3[0]='Hamzah'
list3

['Hamzah',
 2.5,
 'list',
 'add to the list',
 1,
 'extended',
 1,
 'extended',
 1,
 'extended']

In [41]:
list2

['Hamzah',
 2.5,
 'list',
 'add to the list',
 1,
 'extended',
 1,
 'extended',
 1,
 'extended']

# Clone lists

In [42]:
list3 = list2[:]

In [45]:
list2[0] = 1

In [46]:
list2

[1,
 2.5,
 'list',
 'add to the list',
 1,
 'extended',
 1,
 'extended',
 1,
 'extended']

In [47]:
list3

['Hamzah',
 2.5,
 'list',
 'add to the list',
 1,
 'extended',
 1,
 'extended',
 1,
 'extended']

# Generate a sorted List from the Tuple

In [50]:
C_tuple=(-5, 1, -3)
list = sorted(C_tuple)
list

[-5, -3, 1]

In [53]:
list = [1,2,3]
list.append(['a','b'])
list
len(list)

4

# Dictionary

In [54]:
Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [55]:
len(Dict)

6

In [58]:
Dict.keys()

dict_keys(['key1', 'key2', 'key3', 'key4', 'key5', (0, 1)])

In [59]:
Dict.values()

dict_values([1, '2', [3, 3, 3], (4, 4, 4), 5, 6])

In [61]:
Dict['key1']

1

In [63]:
release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [64]:
release_year_dict['Bat Out of Hell']

'1977'

In [65]:
release_year_dict['New'] = 'Not yet'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'New': 'Not yet'}

# sets

Set is a list of elements in curly brakets, has none dupilcated elements

In [74]:
set2 = {1,2,3,4,5}
set2

{1, 2, 3, 4, 5}

In [75]:

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [76]:
album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19","Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

TypeError: 'set' object is not callable

In [3]:
range(5,10)

range(5, 10)

In [8]:
sequers = ['red','yellow','blue']
for i,sequre in enumerate(sequers):
    print(sequre)

red
yellow
blue

In [10]:
colors = ['red','red','red','red','yellow']
new_color = []
i=0
while (colors[i] == 'red'):
    colors[i]
    new_color.append(colors[i])
    i +=1
    
new_color

['red', 'red', 'red', 'red']

In [24]:
dates = ['2020','2021','2022','2023','2024']

i=0
for i, date in enumerate(dates):
    print(dates[i])
    i += 1

2020
2021
2022
2023
2024

In [19]:
dates = ['2020','2021','2022','2023','2024']
len(dates)

5

In [28]:

for i in range(-5,5):
    print (i)

-5
-4
-3
-2
-1
0
1
2
3
4

In [31]:
Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop'] 
for i, genre in enumerate(Genres):
    print(Genres[i])

rock
R&B
Soundtrack
R&B
soul
pop

In [49]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i=1
rates=PlayListRatings[0]
while ( i< len(PlayListRatings) and rates>6):
    print(rates)
    rates = PlayListRatings[i]
    i +=1

10
9.5
10
8
7.5

In [45]:
len(PlayListRatings)

8

In [51]:
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0
while squares[i]=='orange':
    new_squares.append(squares[i])
    i +=1
new_squares

['orange', 'orange']

In [52]:
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0
while(i < len(squares) and squares[i] == 'orange'):
    new_squares.append(squares[i])
    i = i + 1
print (new_squares)

['orange', 'orange']